

@import "partials/fonts";
@import "partials/reset";
@import "partials/header";
@import "partials/nav";
@import "partials/home";
@import "partials/about_us";
@import "partials/breaks";
@import "partials/team";
@import "partials/skills";
@import "partials/slider";
@import "partials/portfolio";
@import "partials/contact";
@import "partials/footer";
@import "partials/additions";

body {
    font-family:"existencelight";
    font-size: 100%;
}
span {
    color: #9f449b;
}



