.about {
    background-color:white;
    height:auto;
  padding-top:60px;
}

.imgAbout {
    margin:0 auto;
    margin-top:50px;
    height:495px;
    width: 770px;
    background-image: url(../images/mockup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.description {
    font-size: 2em;
    padding: 50px;
}

