form {
  width:80%;
  margin:0 auto;
}
.name, .email, .message{
  width:100%;
  font-size:60px;
  padding:20px;
  margin:20px;
  border: 1px solid gray;
}
.message {
  height:500px;
}
footer  {
  p:nth-child(2), p:nth-child(3) {
    font-weight:bold;
  }
}

