@font-face {
    font-family: 'existencelight';
    src: url('../fonts/existence-light-webfont.eot');
    src: url('../fonts/existence-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/existence-light-webfont.woff2') format('woff2'),
         url('../fonts/existence-light-webfont.woff') format('woff'),
         url('../fonts/existence-light-webfont.ttf') format('truetype'),
         url('../fonts/existence-light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;

}