header {
    height: 100vh;
    width:auto;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    font-size: 20px;
}

.logo h1, p {
    display:block;
    text-align: center;
    margin: 0 auto;
    font-size: 2.8em;
    font-weight: 400;
    padding: 2vh;   
}
.logo h1 {
   font-size: 4.8em; 
    padding: 4vh;
    
}
.logo p:last-child{
    margin: 0 auto;
    max-width: 900px;
    font-size: 2.3em;
}
.logo {
    margin-bottom:50px;
}
/*.logo {
    height: 35vh;
}*/ 
.main {
    position:relative;
    display: flex;
    flex-flow:column wrap;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.group div {
    display:inline-block;
    height: 275px;
    width:275px;
    background-image: url("../images/bha.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.group div:hover {
    background-image: url("../images/portbg.png");
}

.box a {
    color:white;
    text-decoration:none;
    font-weight: bold;
    position:relative;
    display: table;
    margin: 0 auto;
      
}

@mixin icon ($iconPosition) {
    display:block;
    content:"";
    margin:0 auto;
    height: 70px;
    width: 70px;
    background-image: url(../images/icons-menu2.png); 
    background-position-y: $iconPosition;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main .box1 {
    &::before {
        @include icon (0);
    }
}
.main .box2 {
    &::before {
        @include icon (-70px);
    }
}
.main .box3 {
    &::before {
        @include icon (-140px);
    }
}
.main .box4 {
    &::before {
        @include icon (-210px);
    }
}
.main .box5 {
    &::before {
        @include icon (-280px);
    }
}
.main .box6 {
    &::before {
        @include icon (-350px);
    }
}
.main .box {
    padding: 67px;
}
.main .box {
    &::before {
        
    }
}
@media (min-width:500px) and (orientation:landscape) {
    .logo h1, p {
      font-size: 1.5em;  
    }
    .logo p:last-child{
      font-size: 1em;  
    } 
    .logo h1 {
    font-size: 3em; 
    }
}
/*@media (min-width: 500px) {
    .group div {
    display:inline-block;
    height: 130px;
    width:130px;
    }
    
  .main .box1 {
    &::before {
        @include icon (0);
    }
}
.main .box2 {
    &::before {
        @include icon (-45x);
    }
}
.main .box3 {
    &::before {
        @include icon (-90px);
    }
}
.main .box4 {
    &::before {
        @include icon (-135px);
    }
}
.main .box5 {
    &::before {
        @include icon (-170px);
    }
}
.main .box6 {
    &::before {
        @include icon (-215px);
    }
} 
 .main .box {
    &::before {
       width:45px;
       height:45px;
    }
}
    
    
    
}*/
