$darkGray:#989191;
nav {
  width:100%;
  min-height:135px;
}
.logwrap {
  padding:15px;
  height:100%;
  width:auto;
  margin-bottom: 20px;
}
 .logo {
    display: block;
    font-size: 90px;
    color:$darkGray;
   float:left;
   width:50%;
}
.b-menu {
  float:right;
  width:110px;
  height:110px;
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  margin:10px;
}
.navbar {
    width:100%;
    margin:0 auto;
    margin-bottom:55px;
  padding-top:150px;
}
.navbar li{
    width:49%;
    color: $darkGray;
    font-size:60px;
    display:inline-block;
    text-align:center;
}
.navbar li:last-child {
    margin-left:25%;
}
.navbar li:hover {
    color:#9f449b;
    font-weight: bold;
}
.hide {
  display:none;
}
@media (min-width:500px) and (orientation:landscape) {
  .logo {
    font-size:40px;
    width:30%;
    display:inline-block;
    padding-top:42px;
    float:right;
  }
  .b-menu {
    display:none;
  }
  nav {
    display:inline-block;
    width:69%;
  }
  .navbar {
    padding-top:55px;
    margin-left:70px;
  }
  .navbar li {
    display:inline-block;
    width:auto;
    font-size:20px;
    text-transform:uppercase;
    margin:0 10px;
  }
  .navbar li:last-child {
    margin-left:0;
  }
}